<%- include("partials/header") -%>

<div class="btn-container">
    <div>
        <button class="noselect btn-delete">
            <span class="text">Delete</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
        
                    </path>
                </svg>
            </span>
        </button>
    </div>
    <div>
        <button class="noselect btn-create">
            <span class="text">Create</span>
            <span class="icon">
                ➕
        </button>
    </div>
    
    </div>

<% posts.forEach(function(post) { %>

    <div class="blog-card">
    <h1><%= post.title %></h1>
    <p class="blog-date">5 April, 2022 | Jay Khans</p>
    
    <p>
      <%= post.content.substring(0, 200) + "..." %> 
    </p>

    <div class="read-more"><a href="/blog/<%=post.title%> ">Read More</a></div>
    
    </div>

<% }) %>
<%- include("partials/footer") -%>