<%- include("partials/header") -%>

<div class="btn-container">
    
    <div>
        <a href="/create" class="btn noselect btn-create">
            <span class="text">Create</span>
            <span class="icon">
                ➕
        </a>
    </div>
    <div>
        <form action="/delete" method="post">
        <button type="submit" name="id"  class="btn noselect btn-delete">
            <span class="text">Delete all</span>
            <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">
        
                    </path>
                </svg>
            </span>
        </button>
    </form>
    </div>
    
    </div>

    

<% posts.forEach(function(post) { %>

   
    <%  var monthNames = ["January", "February", "March","April", "May", "June", "July","August", "September", "October", "November", "December"]; %>
      <% var d = post.date.getDate(); %>  
        <% var m = monthNames[post.date.getMonth()]; %>
        <% var y = post.date.getFullYear(); %>
        
    

    <div class="blog-card">
    <h1><%= post.title %></h1>
    <p class="blog-date"><%= d+ ' ' +m+ ' ' +y %> | <%= post.author %> </p>
    
    <p>
      <%= post.content.substring(0, 200) + "..." %> 
    </p>

    <div class="read-more"><a href="/blog/<%=post.title%> ">Read More</a></div>
    
    </div>
    

<% }) %>
<%- include("partials/footer") -%>